.tag-box{
    width: 40%;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    margin-top: 30px;
    border:2px solid black;
    border-radius: 10px;
    justify-content: space-around;
}
.tag-box-head{
    font-size: medium;
    font:bold;
    font-weight: 700;
    text-decoration: underline;
}
.search-box{
    width: 85%;
    height: 8%;
    font:bold;
    font-weight: 500;
    border-radius: 8px;
}
.tag-gen-btn{
    width: 85%;
    height: 8%;
    font:bold;
    font-weight: 500;
    border-radius: 8px;
    background-color: bisque;
}
.tag-img{
    width: 300px;
    height: 220px;
}